:root {
  --accent-color: #2196f3;
  --paragraph-color: #757575;
  --hero-background: #2f303a;
  --main-text-color: #212121;
  --main-text-font-size: 14px;
  --btn-background-color: #188ce8;
  --footer-background-color: #2f303a;
  --mail-phone-footer-color: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --logo2-heder-color: #000000;
  --text-color-modal-btn: #ffffff;
  --text-color-portfolio-btn-hf: #ffffff;
  --hero-text-color: #ffffff;
  --background-color-sections: #ffffff;
  --employee-background-color: #f5f4fa;
  --current-color: #ffffff;
  --item-gps-color: #ffffff;
  --logo2-footer-color: #ffffff;
  --portfolio-btn-background-color: #f5f4fa;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}
.address {
  font-style: normal;
}
/* ================================================== COMPONENTS ================================================== */
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color-modal-btn);
  background: var(--accent-color);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-background-color);
}
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);
  background: var(--portfolio-btn-background-color);
  border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--text-color-portfolio-btn-hf);
  background: var(--accent-color);
}
/* ================================================== /COMPONENTS ================================================== */
/* ================================================== HEDER ================================================== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo2 {
  color: var(--logo2-heder-color);
}
.menu-link {
  font-weight: 500;
  font-size: var(--main-text-font-size);
  line-height: 1.14;
  color: var(--main-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.phone-number,
.mail {
  font-weight: 500;
  font-size: var(--main-text-font-size);
  line-height: 1.14;
  color: var(--paragraph-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.page-heder-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.mail-phone-item {
  margin-left: auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
/* ================================================== /HEDER ================================================== */
/* ================================================== HERO ==================================================  */
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero {
  background: var(--hero-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--hero-text-color);
  margin-bottom: 40px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages {
  display: flex;
  gap: 30px;
}
.our-advantages,
.we-doing {
  background-color: var(--background-color-sections);
}
.we-doing {
  padding-top: 0px;
}
.we-doing-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages-item {
  width: 270px;
}
.advantages-characteristic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.advantages-description {
  font-weight: 400;
  font-size: var(--main-text-font-size);
  line-height: 1.71;
  color: var(--paragraph-color);
}
.responsibilities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
/* ================================================== OUR TEAM ================================================== */
.team {
  background-color: var(--team-background-color);
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}
.name-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--paragraph-color);
}
.employee {
  background-color: var(--employee-background-color);
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.employee-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/* ================================================== /OUR TEAM ================================================== */
/* ================================================== /HERO ================================================== */
/* ================================================== portfolio ================================================== */
.work-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  padding-bottom: 4px;
}
.categories-works {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--paragraph-color);
}
button.current {
  color: var(--current-color);
  background-color: var(--accent-color);
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 50px;
  padding-top: 100px;
  justify-content: center;
}
.work-items-categories {
  background: #ffffff;
  border: 1px solid #eeeeee;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ================================================== /portfolio ================================================== */
/* ================================================== footer ================================================== */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.item-gps {
  font-weight: 400;
  font-size: var(--main-text-font-size);
  line-height: 1.71;
  color: var(--item-gps-color);
  margin-bottom: 9px;
}
.item-gps:hover,
.item-gps:focus {
  color: var(--accent-color);
}
.item-mail,
.item-phone-number {
  font-weight: 400;
  font-size: var(--main-text-font-size);
  line-height: 1.71;
  color: var(--mail-phone-footer-color);
}
.item-mail:hover,
.item-mail:focus {
  color: var(--accent-color);
}
.item-phone-number:hover,
.item-phone-number:focus {
  color: var(--accent-color);
}
.logo-footer2 {
  color: var(--logo2-footer-color);
}
.contacts-item {
  margin-bottom: 9px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-footer-general {
  margin-bottom: 20px;
}
/* ================================================== /footer ================================================== */
